<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentation</title>
</head>
<body>
    <div class="game-screen">
        <div class="display-area">
            <div class="display-container">
                <div class="phrase-text"></div>
                <br>
                <hr>
                <br>
                <div class="decision-text">Can you understand this phrase?</div>
                <br><br>
                <div class="decision-option">Yes > skip to solution : press Enter</div>
                <div class="decision-option">No > get translations : press Space bar</div>
            </div>
        </div>
    </div>
</body>
</html>