<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post-Revision</title>
</head>
<body>
    <div class="game-screen">
        <div class="display-area">
            <div class="display-container">
                <!-- <div class="phrase-text"></div> -->
                <hr>
                <div class="decision-option">test : press Enter</div>
                <div class="decision-option">revise : press Space bar</div>
            </div>
        </div>
    </div>
</body>
</html>